[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
peewee = "*"
huey = "*"
beautifulsoup4 = "*"
python-telegram-bot = "*"
requests = "*"

[requires]
python_version = "3.7"
